{% extends '::base.html.twig' %}

{% block body -%}
	<div class="titrelisteetform">

    <h1>Partition</h1>
	
	</div>
    <div class="listeetform">

		<div class="showform">
		<p>
		<h1>Confirmez vous la désactivation ?</h1>
		</p>
			{{ form(confirm_form) }}
			
		</div>
	</div>

	<div class="finlisteetform">

{% if oeuvre_id is defined %}
		<table>
			<tr>
				<td class="tdtblactionsbdp">

			        <a href="{{ path('oeuvres_edit',{'id':  oeuvre_id  } ) }}">
			        
			            <img alt="Retour à la liste" src="/web/css/images/retour_liste.png">
			        </a>
				</td>
				<td class="tdtblactionsbdp">
			        <a href="{{ path('partitions_edit', { 'oeuvre_id' : oeuvre_id , 'id': entity.id }) }}">
			            <img alt="Modification" src="/web/css/images/edit.png">
			        </a>
				</td>
	
			</tr>
		</table>
		{% endif %}
	</div>	
	
{% endblock %}

{% block javascripts %}
		
		{{ parent() }}
        
	        <script type="text/javascript">
	        
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
			</script>
{% endblock %}



