{% extends '::base.html.twig' %}

{% block body -%}

	<div class="titrelisteetform">
    	<h1>Nouvel Avancement</h1>
	</div>

    <div class="listeetform">
		<div class="showform">

		    {{ form(form) }}
		
		</div>
	</div>
		

        <ul class="record_actions">
    <li>
        <a href="{{ path('avancements') }}">
				            <img alt="Retour à la liste" src="/web/css/images/retour_liste.png">        
        </a>
    </li>
</ul>
{% endblock %}

	{% block javascripts %}
		
			{{ parent() }}
		
			<script type="text/javascript">
	
				var obj = document.getElementById("oeuvresbundle_avancements_active")
				if(obj)
				{
					obj.checked = true;;
				}

		
				$("#menu1").hide();
				$("#menu2").hide();
				$("#menu3").hide();
					

	
				</script>
	{% endblock %}
	
	
